This file should be duplicated and renamed to .env in your local environment

CONNECTION_PORT=
CONNECTION_HOST=

BCG_IDP_SSO_URL=
BCG_IDP_ISSUER=
BCG_IDP_X509_CERT=

JUPYTER_SERVER=
JUPYTER_TOKEN=

JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=
JWT_SECRET=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USERNAME=
SNOWFLAKE_PASSWORD=

TABLEAU_SERVER=
TABLEAU_USERNAME=
TABLEAU_PASSWORD=
TABLEAU_SITE_NAME=
TABLEAU_PROJECT_ROOT=

# for dev only
TABLEAU_SERVER_TICKET_MIDDLEWARE=
TABLEAU_SERVER_TICKET_SECRET=

JWT_SECRET=
JWT_REFRESH_SECRET=
# Expirations must be specified in seconds
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=